.bicycles {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.bicycles--container--card {
    display: grid;

    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;
    align-items: center;
}

.bicycles__img {
    object-position: center;
}

.bicycles--container--header {
    margin-bottom: 2rem;
}

.bicycles__name {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.bicycles--container--benefits {
    display: grid;
    grid-template-columns: 1fr .5fr;
}

.bicycles__item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.bicycles__button {
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
    background-color: var(--p1);
    color: var(--p5);
}

.bicycles__button::after {
    content: "➞";
    margin-left: 1rem;
}

.bicycles__item:last-child {
    margin-bottom: 0;
}

.bicycles__icon {
    margin-right: .5rem;
}

.bicycles__button {
    align-self: end;
}

@media screen and (max-width: 767px){
    .bicycles--container--card {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1300px) {
    .container-1 {
        padding: 0 5%;
    }
}

@media screen and (min-width: 1600px){
    .bicycles__description {
        padding-right: 9rem;
    }
}