.benefits {
    background-color: var(--black);
    color: var(--white);
    padding: 4rem 0;
}

.benefits__title {
    margin-bottom: 3rem;
}

.benefits__list {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.benefits__icon, .benefits__subtitle {
    margin-bottom: 1rem;
}

.benefits__description {
    color: var(--c6);
}

@media screen and (max-width: 767px){
    .benefits__title {
        font-size: 2.5rem;
    }

    .benefits__list {
        grid-template-columns: 1fr;
    }
}