.introdution {
    background-color: var(--c11);
    color: var(--white);
    padding: 2.5rem 0 4rem 0;
    box-shadow: inset 0 -21rem var(--stores-bg)
}

.introdution--container {
    margin-bottom: 4rem;
}

.introdution__text {
    color: var(--c5);
    text-transform: uppercase;
    margin-bottom: .5rem;
}

@media screen and (max-width: 767px) {
    .introdution__title {
        font-size: 2.5rem;
    }
}