.insurance {
    background-color: var(--c11);
    color: var(--white);
}

.insurance--container {
    display: grid;

    grid-template-columns: 1fr 1fr;

    box-shadow: inset 0 6rem var(--white), inset 0 -6rem var(--black);
    gap: 3rem;
    align-items: center;
}

.insurance--container--content {
    padding-right: 30%;
}

.insurance__title {
    margin-bottom: 2rem;
}

.insurance__emphasis {
    color: var(--p1);
}

.insurance__description {
    color: var(--c5);
    margin-bottom: 2rem;
}

.insurance__button {
    border-radius: 5px;
    background-color: var(--p1);
    padding: 1rem;
    display: inline-block;
    color: var(--black);
}