:root {
    --header-bg: #000000;
    --introdution-bg: #000000;
    --choose-bg: #FFFFFF;
    --technology-bg: #111111;
    --partners-bg: #FFFFFF;
    --review-bg: #FFBB00;
    --insurance-bg: #111111;
    --footer-bg: #000000;

    --font-color-default: #FFFFFF;
    --font-default: 'Poppins', sans-serif;
    --font-merriweather: 'Merriweather', sans-serif;

    --black: #000000;
    --white: #FFFFFF;

    --c2: #EDEDED;
    --c4: #CCCCCC;
    --c5: #B2B2B2;
    --c6: #9C9C9C;
    --c10: #2E2E2E;
    --c11: #111111;
    --p1: #FFBB00;
    --p4: #664400;
    --p5: #332200;
}

body {
    font-family: var(--font-default);
}

.header__link:hover {
    text-decoration: underline;
}

.container-1 {
    padding: 0 15%;
}

.container-2 {
    padding: 0 5%;
}

.title {
    font-size: 3.5rem;
    font-weight: 600;
}

.title-2 {
    padding-left: 4rem;
}

.dot {
    color: var(--p1);
}

.subtitle {
    color: var(--c5);
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.image {
    max-width: 100%;
    border-radius: 5px;
    object-fit: cover;
    object-position: left;
    height: 100%;
}

.button {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

.icon {
    display: block;
    width: 32px;
    height: 32px;
}

@media screen and (max-width: 767px) {
    .container-1 {
        padding: 0 7%;
    }

    .title-2 {
        padding-left: 0;
    }
}